.idea
infa/terraform/.terraform/
/infa/terraform/terraform.tfstate
/infa/terraform/terraform.tfstate.backup
.idea/.gitignore
.idea/aws.xml
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/price-app.iml
.idea/vcs.xml
