[Unit]
Description=uWSCI Pricing service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/html/price-service
EnvironmentFile=/var/www/html/price-service/env.conf
ExecStart=/usr/bin/uwsgi --init /var/www/html/price-service/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target